{% if settings.product_style == "style_1" %}
  <div class="product-item-v4">
    {% assign product_label_new = false %}
    {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
    {% assign time = _time|plus:0 %}
    {% assign now = 'now' | date: '%s'|plus:0 %}
  
    {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
    {% assign value = _value|plus:0 %}
  
    {% if now < value %}
    {% assign product_label_new = true %}
    {% endif %}
  
  
    {% assign label_popular = false %}
    {% if product.tags contains "popular" %}
    {% assign label_popular = true %}
    {% endif %} 
  
    {% assign label_hot = false %}
    {% if product.tags contains "hot" %}
    {% assign label_hot = true %}
    {% endif %}
  
    {% assign on_sale = false %}
    {% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
    {% endif %}
  
    {% assign sold_out = true %}
    {% if product.available %}
    {% assign sold_out = false %}
    {% endif %}
    <div class="product mb-30 engoj_grid_parent relative">
      <div class="img-product relative" >      
          <a href="{{ product.url | within: collection }}" class="engoj_find_img">
            <img style="width: 100%" data-src="{{ product.featured_image.src | img_url: 'master' }}" class="lazyload w-100 img-responsive first-image" alt="{{ product.featured_image.alt | escape }}" width="100%" height="auto">
            {% for image in product.images %}
            {% if forloop.last %}
            <img style="width: 100%" data-src="{{ image.src | product_img_url: 'master' }}" class="lazyload w-100 img-responsive absolute img-product-hover" alt="{{ product.featured_image.alt | escape }}" width="100%" height="auto">
            {% endif %}
            {% endfor %}
          </a>
  
        <!--     label product -->
  
        {% assign product_label_new = false %}
        {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
        {% assign time = _time|plus:0 %}
        {% assign now = 'now' | date: '%s'|plus:0 %}
  
        {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
        {% assign value = _value|plus:0 %}
  
        {% if now < value %}
        {% assign product_label_new = true %}
        {% endif %}
  
  
        {% assign label_popular = false %}
        {% if product.tags contains "popular" %}
        {% assign label_popular = true %}
        {% endif %} 
  
        {% assign label_hot = false %}
        {% if product.tags contains "hot" %}
        {% assign label_hot = true %}
        {% endif %}
  
        {% assign on_sale = false %}
        {% if product.compare_at_price > product.price %}
        {% assign on_sale = true %}
        {% endif %}
  
        {% assign sold_out = true %}
        {% if product.available %}
        {% assign sold_out = false %}
        {% endif %}	
        {% if on_sale %}
        {% if settings.show_sale_label %}
        <figure style= "background : {{settings.sale_label_color}}; color: {{settings.sale_label_text_color}}" class="absolute uppercase label-sale text-center">
          {{settings.sale_label_name}}
        </figure>
        {% endif %}
        {% endif %}
  
        {% if sold_out %}
        {% assign sold_out = true %}
        {% if product.available %}
        {% assign sold_out = false %}
        {% endif %} 
        <div class="outofstock">
          <span>Sold out</span>
        </div>
        {% endif %}
  
        {% if product.metafields.engo_countdown_prod.countdown_datetime != blank %}
        <div class="countdown-timer text-center">
          <ul data-countdown="countdown-v1" data-date="{{product.metafields.engo_countdown_prod.countdown_datetime}}">
          </ul>
        </div> 
        {% endif %}
  
      </div>
  
      <div class="info-product">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        
        <h4 class="des-font capital title-product">
          <a href="{{ product.url | within: collection }}">{{ product.title}}</a>
        </h4>
        
        <!--     PRICE -->
        {% assign on_sale = false %}
        {% if product.compare_at_price > product.price %}
        {% assign on_sale = true %}
        {% endif %}
        {% if settings.enable_catalog_mode == false%}
        <p class="price-product">
          <span class="price">{{ product.price | money }}</span>
          {% if on_sale %}<s class="price-old">{{ product.compare_at_price | money }}</s>{% endif %}
        </p>
        {% endif %}
        <!-- END PRODUCT     -->
      </div>
    </div>
  </div>
  {% else %}
  {% include 'product-item-v1' %}
  {% endif %} 